

.blue{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: blue;
    border: 1px solid black;
    margin-top: -20px;
}

.blue:first-of-type{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: blue;
    border: 1px solid black;
}

.BlueList {
    min-width: 100px;
    margin-left: 100px;

}