

.chess{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: blue;
    border: 1px solid black;
    margin-top: -20px;
}

.chess:first-of-type{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: blue;
    border: 1px solid black;
}