.row {
    height: 80px;
    width: 640px;
    display: flex;

}

.board {
    border: 1px solid black;
    display: inline-block;
    margin-top: 100px;
    
}

.black {
    background: black;
}
.col {
    height: 80px;
    width: 80px;
}