.Game {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.greyTitle{
    background-color: grey;
    transition: background-color 0.5s linear;
    color: white;


}
.blueTitle{
    background-color: blue;
    transition: background-color 0.5s linear;
    color: white;
}

h1 {
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


.restart_btn{
    background: chartreuse;
    border: 0;
    padding: 10px 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    outline:none;
    transition: all 0.2s linear;

}
.restart_btn:hover{
    background: green;
    transition: all 0.2s linear;
    color: white;
    font-weight: bold;


}