.BlueChess {
    height: 50px;
    width: 50px;
    background: blue;
    border-radius: 100px;
    margin: auto;
    margin-top: auto;
    cursor: pointer;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

