.BlueChess {
    height: 50px;
    width: 50px;
    background: blue;
    border-radius: 100px;
    margin: auto;
    margin-top: auto;
    cursor: pointer;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.crown {
    background-image: url('../assets/crown');
    height: 50px;
    width: 50px;
    background-position: center;
    color: white;
    background-repeat: no-repeat;
    background-size: 40px;
}